In [2]:
import numpy as np
import torch
import matplotlib.pyplot as plt
import os
import pandas as pd

In [1]:
from fastai.structured import *
from fastai.column_data import *

path='./rossmann/'

In [25]:
files=os.listdir(f'{path}')
for ix in files:
    x=pd.read_csv(f'{path}{ix}')
    print (x.head())
    print ('-'*50)

           StateName State
0  BadenWuerttemberg    BW
1             Bayern    BY
2             Berlin    BE
3        Brandenburg    BB
4             Bremen    HB
--------------------------------------------------
             file                     week  trend
0  Rossmann_DE_SN  2012-12-02 - 2012-12-08     96
1  Rossmann_DE_SN  2012-12-09 - 2012-12-15     95
2  Rossmann_DE_SN  2012-12-16 - 2012-12-22     91
3  Rossmann_DE_SN  2012-12-23 - 2012-12-29     48
4  Rossmann_DE_SN  2012-12-30 - 2013-01-05     67
--------------------------------------------------
   Id  Store  DayOfWeek        Date  Open  Promo StateHoliday  SchoolHoliday
0   1      1          4  2015-09-17   1.0      1            0              0
1   2      3          4  2015-09-17   1.0      1            0              0
2   3      7          4  2015-09-17   1.0      1            0              0
3   4      8          4  2015-09-17   1.0      1            0              0
4   5      9          4  2015-09-17   1.0      1            0              0
--------------------------------------------------
                 file        Date  Max_TemperatureC  Mean_TemperatureC  \
0  NordrheinWestfalen  2013-01-01                 8                  4
1  NordrheinWestfalen  2013-01-02                 7                  4
2  NordrheinWestfalen  2013-01-03                11                  8
3  NordrheinWestfalen  2013-01-04                 9                  9
4  NordrheinWestfalen  2013-01-05                 8                  8

   Min_TemperatureC  Dew_PointC  MeanDew_PointC  Min_DewpointC  Max_Humidity  \
0                 2           7               5              1            94
1                 1           5               3              2            93
2                 6          10               8              4           100
3                 8           9               9              8           100
4                 7           8               7              6           100

   Mean_Humidity       ...        Max_VisibilityKm  Mean_VisibilityKm  \
0             87       ...                    31.0               12.0
1             85       ...                    31.0               14.0
2             93       ...                    31.0                8.0
3             94       ...                    11.0                5.0
4             94       ...                    10.0                6.0

   Min_VisibilitykM  Max_Wind_SpeedKm_h  Mean_Wind_SpeedKm_h  \
0               4.0                  39                   26
1              10.0                  24                   16
2               2.0                  26                   21
3               2.0                  23                   14
4               3.0                  16                   10

   Max_Gust_SpeedKm_h  Precipitationmm  CloudCover  Events  WindDirDegrees
0                58.0             5.08         6.0    Rain             215
1                 NaN             0.00         6.0    Rain             225
2                 NaN             1.02         7.0    Rain             240
3                 NaN             0.25         7.0    Rain             263
4                 NaN             0.00         7.0    Rain             268

[5 rows x 24 columns]
--------------------------------------------------
   Store  DayOfWeek        Date  Sales  Customers  Open  Promo StateHoliday  \
0      1          5  2015-07-31   5263        555     1      1            0
1      2          5  2015-07-31   6064        625     1      1            0
2      3          5  2015-07-31   8314        821     1      1            0
3      4          5  2015-07-31  13995       1498     1      1            0
4      5          5  2015-07-31   4822        559     1      1            0

   SchoolHoliday
0              1
1              1
2              1
3              1
4              1
--------------------------------------------------
   Store State
0      1    HE
1      2    TH
2      3    NW
3      4    BE
4      5    SN
--------------------------------------------------
   Store StoreType Assortment  CompetitionDistance  CompetitionOpenSinceMonth  \
0      1         c          a               1270.0                        9.0
1      2         a          a                570.0                       11.0
2      3         a          a              14130.0                       12.0
3      4         c          c                620.0                        9.0
4      5         a          a              29910.0                        4.0

   CompetitionOpenSinceYear  Promo2  Promo2SinceWeek  Promo2SinceYear  \
0                    2008.0       0              NaN              NaN
1                    2007.0       1             13.0           2010.0
2                    2006.0       1             14.0           2011.0
3                    2009.0       0              NaN              NaN
4                    2015.0       0              NaN              NaN

     PromoInterval
0              NaN
1  Jan,Apr,Jul,Oct
2  Jan,Apr,Jul,Oct
3              NaN
4              NaN
--------------------------------------------------
   Id  Sales
0   1      0
1   2      0
2   3      0
3   4      0
4   5      0
--------------------------------------------------

/Users/SarthakAnand/Desktop/pytorch_stuff/env/lib/python3.6/site-packages/IPython/core/interactiveshell.py:2785: DtypeWarning: Columns (7) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

In [16]:
ds.head()

,Store,DayOfWeek,Date,Sales,Customers,Open,Promo,StateHoliday,SchoolHoliday
0,1,5,2015-07-31,5263,555,1,1,0,1
1,2,5,2015-07-31,6064,625,1,1,0,1
2,3,5,2015-07-31,8314,821,1,1,0,1
3,4,5,2015-07-31,13995,1498,1,1,0,1
4,5,5,2015-07-31,4822,559,1,1,0,1

In [ ]:
cat_vars=